<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>edu</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>encoding</param-name>
    <param-value>utf-8</param-value>
  </context-param>
  <filter>
  	<filter-name>flow1</filter-name>
  	<filter-class>com.edu.test.FlowFiterOne</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>flow1</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
  	<filter-name>flow2</filter-name>
  	<filter-class>com.edu.test.FlowFiterTwo</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>flow2</filter-name>
  	<url-pattern>/dept/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>insertDept</servlet-name>
    <servlet-class>com.edu.deptBeans.insertDeptServ</servlet-class>
    <init-param>
      <param-name>username</param-name>
      <param-value>admin</param-value>
    </init-param>
    <init-param>
      <param-name>password</param-name>
      <param-value>1004</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>insertDept</servlet-name>
    <url-pattern>/insertDeptServ</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>insertDept</servlet-name>
    <url-pattern>/deptinert</url-pattern>
  </servlet-mapping>
</web-app>